


------------------------------------------------------------------------------------------------------
Location      : {{ system_base_location }}
OS            : {{ ansible_distribution }} {{ ansible_distribution_version }}
Hostname      : {{ ansible_hostname }}

{% if ansible_default_ipv4 %}
Interface     : {{ ansible_default_ipv4.interface }}
MAC           : {{ ansible_default_ipv4.macaddress }}
{% endif %}

